footer {
    background-color: #111111;
    color: #CCE6CB;
    display: block;
    padding: 3rem 1%;
    margin-top: 3rem;
}

footer#AboutMe {
    scroll-margin-top: 5rem;
}

footer h1 {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 3%;
    margin: 0rem;
}

footer p {
    padding-left: 5%;
    margin-right: 2%;
}

footer b {
    font-weight: 700; 
}

footer div.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

footer div.vl {
    border-left: 0.1rem solid #323932;
    border-radius: 20rem;
    margin: 2% 0rem;
    margin-left: 2%;
}

footer div.container div.contact {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a.resume {
    display: flex;
    align-items: center;
    height: 1.875rem;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 2rem;
    border-color: #CCE6CB;
    color: #CCE6CB;
    text-decoration: none;
    font-weight: 700;
    padding: 0rem 3.3rem;
    margin: 3.75% 0rem;
    transition: 0.5s;    
}

footer a.resume:hover {
    border-color: #6EE66A;
    background-color: #6EE66A;
    color: #191C19;
}

footer div.bottomButtons {
    width: 20rem;
    text-align: center;
}

footer img {
    --imgHeight: 2.25rem;
    height: var(--imgHeight);
    width: var(--imgHeight);
    margin: 0rem 0.3rem;
    filter: invert(94%) sepia(12%) saturate(382%) hue-rotate(62deg) brightness(93%) contrast(94%);
    transition: 0.5s;
}

footer img:hover {
    filter: invert(86%) sepia(17%) saturate(1514%) hue-rotate(59deg) brightness(95%) contrast(90%);
}