main {
    display: block;
    margin: 0rem 1%;
}

main div.gameSection {
    width: 100%;
}

main h1 {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 3%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

main h2 {
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 5%;
    margin-bottom: 0rem;
}

main div#MyGames {
    scroll-margin-top: 5rem;
}

main div.gameContainer {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

main div.game {
    width: 48%;
    height: 27rem;
    margin: 1%;
    background-color: #323932;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

main div.game div.image {
    width: 100%;
    height: 60%;
    background-color: #262B26;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main div.game a {
    width: 94%;
    height: 38%;
    padding: 1% 3%;
    text-decoration: none;
    color: #CCE6CB;
}

main div.game a:hover > .info {
    color: #B8FDB6;
}

main div.game a:hover > div.info h1 {
    border-left: 1rem solid #B8FDB6;
}

main div.game a div.info {
    height: 100%;
    width: 100%;
    overflow: hidden;  
}

main div.game a div.info h1 {
    width: 100%;
    font-size: 1.6rem;
    margin: 0.3rem 0rem;
    padding: 0rem;
    border-left: 0.1rem solid #CCE6CB;
    padding-left: 0.5rem;
    transition: 0.5s;
}

main div.game a div.info p {
    font-size: 1rem;
    margin: 0.4rem 0rem;
    transition: 0.5s;
}

main div.game a div.info b {
    font-weight: 700;
}

main div#MySkills {
    scroll-margin-top: 5rem;
}

main div.skillSection ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 1.5% 0rem;
    padding: 0rem 6%;
}

main div.skillSection li {
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 2rem;
    border-color: #6EE66A;
    padding: 0.3rem 1rem;
    margin: 0.2rem 0.3rem;
    font-weight: 700;
    font-size: 1.1rem;
}

main div#MyEducation {
    scroll-margin-top: 5rem;
}

main div.educationSection {
    width: 100%;
}

main div.educationContainer {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

main div.education {
    --educationHeight: 7rem;
    --educationWidth: 47%;
    --borderRadius: 1rem;
    height: var(--educationHeight);
    width: var(--educationWidth);
    border-radius: var(--borderRadius);
    background-color: #323932;
    margin: 1% calc((50% - var(--educationWidth))/2);
    color: #CCE6CB;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: clip;
}

main div.education div.image {
    width: var(--educationHeight);
    border-radius: var(--borderRadius);
    height: 100%;
    margin-right: 3%;
    background-color: #262B26;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main div.education a {
    width: calc(100% - 3% - var(--educationHeight));
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: clip;
    text-decoration: none;
    color: #CCE6CB;
    transition: 0.5s;
}

main div.education a:hover > .arrow {
    transform: translateX(0.65rem);
    filter: invert(92%) sepia(8%) saturate(1413%) hue-rotate(59deg) brightness(101%) contrast(98%);
}

main div.education a:hover {
    color: #B8FDB6;
}

main div.education div.info {    
    flex: 1;
}

main div.education a div.info div.title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main div.education div.info h1 {
    width: 55%;
    font-size: 1.6rem;
    margin: 0rem;
    padding: 0rem;
}

main div.education div.info h2 {
    width: 45%;
    margin: 0rem;
    padding: 0rem;
    text-align: right;
    font-size: 1.3rem;
    font-weight: 300;
    color: #A3B7A2;
}

main div.education div.info small {
    font-size: 1.2rem;
    margin: 0rem;
}

main div.education div.arrow {
    height: 100%;
    width: 4rem;
    background-image: url('../Images/Buttons/Arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(94%) sepia(12%) saturate(382%) hue-rotate(62deg) brightness(93%) contrast(94%);
    transition: 0.5s;
}

main div.mailContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

main div.mailContainer img {
    height: 1.2rem;
    transform: translateY(0.18rem);
    margin-right: 0.5rem;
    filter: invert(86%) sepia(17%) saturate(1514%) hue-rotate(59deg) brightness(95%) contrast(90%);
    transition: 0.5s;
}

main div.mailContainer a.mail {
    border: 0.2rem solid #6EE66A;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #6EE66A;
    text-decoration: none;
    margin: 0rem 0.5rem;
    padding: 0.4rem 1rem;
    padding-right: 8rem;
    transition: 0.5s;
}

main div.mailContainer a.mail:hover {
    color: #B8FDB6;
    border-color: #B8FDB6;
}

main div.mailContainer a.mail:hover > img {
    filter: invert(93%) sepia(9%) saturate(1205%) hue-rotate(58deg) brightness(95%) contrast(110%);
}

main div.mailContainer button.copy {
    display: flex;
    border: 0.2rem solid #6EE66A;
    border-radius: 0.7rem;
    color: #6EE66A;
    background-color: #191C19;
    padding: 0.4rem 1rem;
    margin: 0rem 0.5rem;
    cursor: pointer;
    transition: 0.5s;
}

main div.mailContainer button.copy:hover {
    color: #191C19;
    border-color: #B8FDB6;
    background-color: #B8FDB6;
}

main div.mailContainer button.copy:hover > img {
    filter: invert(8%) sepia(11%) saturate(532%) hue-rotate(71deg) brightness(92%) contrast(92%);
}

main div.mailContainer button.copy p {
    margin: 0rem;
    padding: 0rem;
    font-size: 1.2rem;
    font-weight: 700;
}
