nav {
    min-height: var(--imageWidth);
    margin: 0rem 1%;
    margin-top: 2rem;
}

nav#Home {
    scroll-margin-top: 7rem;
}

nav div.image {
    float: right;
    --imageWidth: 19rem;
    width: var(--imageWidth);
    height: var(--imageWidth);
    transition: 0.5s;
}

nav div.image img {
    width: var(--imageWidth);
    height: var(--imageWidth);
}

nav div.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - var(--imageWidth));
}

nav div.index{
    width: 25rem;
    padding-left: 5%;
}

nav div.index a {
    display: flex;
    width: 55%;
    height: 1.6rem;
    color: #6EE66A;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    transition: 0.5s;
}

nav div.index a div.vl {
    border-left: 0.15rem solid #6EE66A;
    margin-right: 1rem;
    transition: 0.5s;
}

nav div.index a:hover {
    color: #191C19;
    background-color: #B8FDB6;
}

nav div.index a:hover > div.vl {
    border-left: 0.6rem solid #6EE66A;
}

nav div.info {
    padding: 0% 5%;
}
nav div.info p {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 300;
}